/* ==========================================================================
   Aqua skin
   ========================================================================== */

.skin--aqua {
  --bacground-color: #e0f7fa;
  --text-color: #006064;
  --link-color: #0288d1;
  --masthead-background: #b2ebf2;
  --masthead-text: #006064;
  --border-color: #4dd0e1;
  --btn-primary-color: #fff;
  --btn-primary-bg: #00acc1;
  --btn-primary-hover-bg: #4dd0e1;
  --form-bg: #e0f7fa;
  --form-border: #4dd0e1;
  --code-bg: #b2ebf2;
}
