/* ==========================================================================
   Dark skin
   ========================================================================== */
.skin--dark {
  --background-color: #222;
  --text-color: #ddd;
  --link-color: #87cefa;
  --masthead-background: #333;
  --masthead-text: #ccc;
  --border-color: #444;
  --btn-primary-color: #fff;
  --btn-primary-bg: #666;
  --btn-primary-hover-bg: #888;
  --form-bg: #333;
  --form-border: #444;
  --code-bg: #2f2f2f;
}
