/* ==========================================================================
   MIXINS
   ========================================================================== */

%tab-focus {
  /* Default*/
  outline: thin dotted var(--focus-color);
  /* Webkit*/
  outline: 5px auto var(--focus-color);
  outline-offset: -2px;
}

/*
   em function
   ========================================================================== */

@function em(var(--target), var(--context): var(--doc-font-size)) {
  @return (var(--target) / var(--context)) * 1em;
}


/*
   Bourbon clearfix
   ========================================================================== */

/*
  * Provides an easy way to include a clearfix for containing floats.
  * link http://cssmojo.com/latest_new_clearfix_so_far/
  *
  * example scss - Usage
  *
  * .element {
  *   @include clearfix;
  * }
  *
  * example css - CSS Output
  *
  * .element::after {
  *   clear: both;
  *   content: "";
  *   display: table;
  * }
*/

@mixin clearfix {
  clear: both;

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

/*
   Compass YIQ Color Contrast
   https://github.com/easy-designs/yiq-color-contrast
   ========================================================================== */

@function yiq-is-light(
  var(--color),
  var(--threshold): var(--yiq-contrasted-threshold)
) {
  var(--red): red(var(--color));
  var(--green): green(var(--color));
  var(--blue): blue(var(--color));

  var(--yiq): ((var(--red)*299)+(var(--green)*587)+(var(--blue)*114))/1000;

  @if var(--yiq-debug) { @debug var(--yiq), var(--threshold); }

  @return if(var(--yiq) >= var(--threshold), true, false);
}

@function yiq-contrast-color(
  var(--color),
  var(--dark): var(--yiq-contrasted-dark-default),
  var(--light): var(--yiq-contrasted-light-default),
  var(--threshold): var(--yiq-contrasted-threshold)
) {
  @return if(yiq-is-light(var(--color), var(--threshold)), var(--yiq-contrasted-dark-default), var(--yiq-contrasted-light-default));
}

@mixin yiq-contrasted(
  var(--background-color),
  var(--dark): var(--yiq-contrasted-dark-default),
  var(--light): var(--yiq-contrasted-light-default),
  var(--threshold): var(--yiq-contrasted-threshold)
) {
  background-color: var(--background-color);
  color: yiq-contrast-color(var(--background-color), var(--dark), var(--light), var(--threshold));
}